 body {
        background: #0f172a;
        color: white;
        font-family: Arial;
        text-align: center;
    }

    h2 { margin: 20px; }

    .screen {
        background: #e5e7eb;
        color: black;
        padding: 10px;
        margin: 20px auto;
        width: 300px;
        border-radius: 10px;
    }

    .seats {
        display: grid;
        grid-template-columns: repeat(10, 35px);
        gap: 8px;
        justify-content: center;
        margin-top: 20px;
    }

    .seat {
        width: 35px;
        height: 35px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        line-height: 35px;
    }

    .normal { background: #1e293b; }
    .vip { background: #9333ea; }
    .booked {
        background: #6b7280;
        cursor: not-allowed;
    }
    .selected {
        background: #22c55e !important;
    }

    .legend {
        margin-top: 20px;
    }

    .legend span {
        margin: 0 10px;
    }

    .summary {
        margin-top: 20px;
    }

    button {
        padding: 10px 20px;
        background: red;
        border: none;
        color: white;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 5px;
    }